<hr>
<ng-container [formGroup]="loginForm">
  <pre>state: {{phone | phoneNumberFormat: '10'}}</pre>
  <div class="mb-3">
    <mat-form-field appearance="fill">
      <mat-label>Email (Gmail)</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
        [errorStateMatcher]="matcher"
        placeholder="Ex. pat@gmail.com">
      <mat-error
        class="text-nowrap"
        *ngIf="getLoginForm.email.hasError('invalid') && !getLoginForm.email.hasError('required')"
      >
        Invalid mail format. (ex@example.com)
      </mat-error>
      <mat-error *ngIf="getLoginForm.email.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
      <mat-error
        *ngIf="getLoginForm.email.hasError('forbiddenName')"
        id="s"
      >
        {{getLoginForm.email?.errors?.['forbiddenName']?.['value'] + ' is ' + getLoginForm.email?.errors?.['forbiddenName']?.['errorText']}}
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        [errorStateMatcher]="matcher"
      >
      <mat-error *ngIf="getLoginForm.password.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="getLoginForm.password.hasError('minlength') ">
        Password min length is 8 characters.
      </mat-error>

    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Description</mat-label>
      <textarea
        formControlName="description"
        matInput
        placeholder="Type your description here..."
      ></textarea>
    </mat-form-field>
  </div>
  <button
    [disabled]="loginForm.invalid"
    [ngClass]="{
      'border-accent-color': !loginForm.invalid,
      'disabled': loginForm.invalid
    }"
    mat-stroked-button color="accent"
    (click)="onSubmit()"
  >Submit
  </button>
</ng-container>

<mat-tab-group>
  <mat-tab label="First"></mat-tab>
  <mat-tab label="Second"></mat-tab>
  <mat-tab label="Third"></mat-tab>
</mat-tab-group>
