<mat-toolbar color="accent" class="appbar">
  <div class="mapping-left d-flex justify-content-between pe-3">
    <button
      mat-icon-button
      aria-label="Toggle right sidebar menu"
      (click)="toggleSidebar()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <a class="default" routerLink="/">
      <button
        mat-icon-button
        aria-label="Toggle right sidebar menu"
      >
        <mat-icon>home</mat-icon>
      </button>
    </a>
  </div>
  <div class="mapping-right">
    <a
      class="default"
      routerLink="login"
    >
      <button mat-button routerLinkActive="nav-selected">Login</button>
    </a>
    <a
      class="default"
      routerLink="ios-picker"
    >
      <button mat-button routerLinkActive="nav-selected">Accent</button>
    </a>
    <a
      class="default"
      routerLink="fuzzyyyy"
    >
      <button mat-button routerLinkActive="nav-selected">Fuzzy Search</button>
    </a>
  </div>
</mat-toolbar>
<div class="body" [class.expand]="!isExpanded">
  <sidebar class="sidebar scroll-rebuild"></sidebar>
  <div class="content-box" [@routerTransition]="getRouterTransition(outletRef)">
    <router-outlet #outletRef="outlet"></router-outlet>
  </div>
</div>

